<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8" />
</head>
<script src="jquery-latest.min"></script>
<script src="carts_index"></script>
<link rel="stylesheet" href="carts_styles">
<body onload="start()">
        <div class="heading">
        <h1>Wild Cart</h1>
        </div>
        <div id="myDIV" class="header">
                
                <input type="text" id="myInput" placeholder="Enter new Cart">
                <span onclick="newElement()" class="addBtn">Add</span>
        </div>
                
                <ul id="myUL">
                <li>Default Cart1</li>
                <li class="checked">Default Cart2</li>
                <li>Default Shopping Cart</li>
                <li>Default Online Cart</li>
                <li>Default Shared Cart</li>
                </ul>
</body>
</html>